body {
        font-family: sans-serif;
        background-color: lightblue;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }

    h1 {
        color: navy;
        font-family: 'nabla';
    }

    #landingPageButtons{
        display: flex;
        flex-wrap: wrap;
    }

    #landingPageButtons button{
        background-color: blueviolet;
        border: blue;
        color: black;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        font-size: 20px;
        cursor: pointer;
    }

    #landingPageButtons button.hover{
        background-color: aquamarine;
    }